#hero {
    background: linear-gradient(293.55deg, #363A52 2.01%, #464B65 43.17%, #2F2A28 98.2%);
    height: 707px;
    position: relative;
}

#hero .background {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 707px;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    min-width: 500px;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#hero .headers {
    position: absolute;
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 6%;
}

#hero .title {
    width: 480px;
    font-weight: 900;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: -4%;
    background: linear-gradient(117.24deg,
            #FFFFFF 0.48%,
            #8ADDF0 29.52%,
            #FFFFFF 50%,
            #ADAFD3 82.86%,
            #9A9CC0 99.52%);
    background-size: 300% 300%;
    /* gradiente maior para permitir movimento */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: moveGradient 6s ease-in-out infinite;
}

#hero .subtitle {
    margin-top: 20px;
    color: #F6F2E9;
    font-size: 16px;
}

#hero #globe {
    position: absolute;
    right: 100px;
    top: 60px;
}