@media (max-width: 760px) {
    #navbar ul {
        display: none !important;
    }
}

#navbar {
    display: flex;
    align-items: center;
    /* background: #4C4644; */
    background: transparent;
    width: 100%;
    justify-content: space-between;
    height: 53px;
    position: absolute;
    z-index: 100;
}

#navbar a:has(#logo) {
    height: 64px;
    user-select: none;
    -webkit-user-drag: none;
}

#navbar #logo {
    transition: 0.1s linear;
}

#navbar #logo:hover {
    filter: blur(1px);
    scale: 1.05;
}

#navbar>* {
    margin: 0 8%;
}

#navbar li,
#navbar ul {
    list-style: none;
    display: inline-flex;
}

#navbar li {
    margin: 0 20px;
    color: #F6F2E9;
    font-weight: 500;
    transition: all 0.2s linear;
    align-items: center;
    min-width: 92px;
    justify-content: center;
}

#navbar li a {
    position: relative;
    text-decoration: none;
    color: #F6F2E9;
}

#navbar li a:hover {
    color: white;
}

#navbar li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #44B9CF;
    transition: all 0.2s linear;
}

#navbar li a:hover::after {
    width: 100%;
}

#navbar li button {
    font-size: 16px;
    border: none;
    color: #F6F2E9;
    background: #44B9CF;
    padding: 5px 30px;
    border-radius: 20px;
    font-family: Inter;
    cursor: pointer;
    transition: all 0.2s linear;
}

#navbar li button:hover {
    box-shadow: 0px 0px 10px 0px #44B9CF;
}


body:has(.speaker-detail) #navbar li a {
    color: #2F2A28;
}

body:has(.speaker-detail) #navbar li a:hover {
    color: #635c5a;
}